body{
  background-color:#7ed1f9
}
.boutonpresentation{
  font-family: Arial,sans-serif;
       font-size: 1.6em;
       width: 400px;
       height: 400px;
       padding-top: 0; /*permet le centrage vertical*/
       text-align: center;
       color: #000;
       background: yellow;
}
.boutoncompetences{
  font-family: Arial,sans-serif;
       font-size: 1.6em;
       width: 500px;
       height: 50px;
       padding-top: 0; /*permet le centrage vertical*/
       text-align: center;
       color: #000;
       background: blue;
}
.boutonformation{
  font-family: Arial,sans-serif;
       font-size: 1.6em;
       width: 250px;
       height: 400px;
       padding-top: 0; /*permet le centrage vertical*/
       text-align: center;
       color: #000;
       background: orange;
}
.boutonexperience{
  font-family: Arial,sans-serif;
       font-size: 1.6em;
       width: 150px;
       height: 400px;
       padding-top: 0; /*permet le centrage vertical*/
       text-align: center;
       color: #000;
       background: blue;
}
.boutonlien{
  font-family: Arial,sans-serif;
       font-size: 1.6em;
       width: 90px;
       height: 90px;
       padding-top: 0; /*permet le centrage vertical*/
       text-align: center;
       color: #000;
       background: red;
}
.boutoninteret{
  font-family: Arial,sans-serif;
       font-size: 1.6em;
       width: 250px;
       height: 200px;
       padding-top: 0; /*permet le centrage vertical*/
       text-align: center;
       color: #000;
       background: DarkBlue;
}
