body{
  background-color:white
  background-image:url(https://roadsandclouds.files.wordpress.com/2016/01/photo18611.jpg?w=515&h=386);
}

header{
width : 60vh;
display : block;
margin : auto;
}

footer {
  text-align: center;
}

.boutonpresentation{
  font-family: Arial,sans-serif;
       font-size: 1.6vh;
       width: 40vh;
       height: 30vh;
       text-align: center;
       color: #000;
       background: #fffd77;
       position: fixed;
       left: 30.5%;
       top: 20%;
}
.boutoncompetences{
  font-family: Arial,sans-serif;
       font-size: 1.6vh;
       width: 45vh;
       height: 10vh;
       text-align: center;
       color: #000;
       background: #edc9ff;
       position: fixed;
       left: 50%;
       top: 40%;
}
.boutonformation{
  font-family: Arial,sans-serif;
       font-size: 1.6vh;
       width: 22vh;
       height: 30vh;
       text-align: center;
       color: #000;
       background: #fa8334;
       position: absolute;
       left: 50%;
       top: 63%;
}
.boutonexperience{
  font-family: Arial,sans-serif;
       font-size: 1.6vh;
       width: 15vh;
       height: 27vh;
       text-align: center;
       color: #000;
       background: #5c80bc;
       position: absolute;
       left: 42.7%;
       top: 50%;

}
.boutonlien{
  font-family: Arial,sans-serif;
       font-size: 1.6vh;
       width: 13vh;
       height: 13vh;
       text-align: center;
       color: #000;
       background: #cc444b;
       position: absolute;
       left: 50%;
       top: 50%;
}
.boutoninteret{
  font-family: Arial,sans-serif;
       font-size: 1.6vh;
       width: 18vh;
       height: 11vh;
       text-align: center;
       color: #000;
       background: #540d6e;
       position: absolute;
       left: 50%;
       top: 29%;
}
